
@{
    ViewBag.Title = "addNoteCategory";
    @model NoteMarketPlace.Database.tblNoteCategory
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Add Book Category section -->
    <section class="add-category">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="page-heading">Add Category</p>
                </div>
                <div class="col-md-6 inside-col">
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>Category Name*</p>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @placeholder = "Enter note Category", @class = "form-control", } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            @*<input type="text" class="form-control" id="name" placeholder="Enter  category name">*@
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>Description*</p>
                            @Html.TextAreaFor(model => model.Description, new { placeholder = "Description", @id = "text-area", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            @*<textarea name="" class="form-control" placeholder="Enter your description"></textarea>*@
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group warn">
                            @if (@ViewBag.Message != null)
                            {
                                <label style="color:#B00020"> @ViewBag.Message</label>
                            }
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-general btn-work smooth-scroll">SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Add book category Ends -->
}
