
@{
    ViewBag.Title = "forgotPassword";
    @model NoteMarketPlace.Database.tblUser
}

<!-- Forgot Section -->
@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <strong>Success!</strong>@ViewBag.Message
        </div>
    }
}
else
{
    using (Html.BeginForm())
    {
        <section id="forgot" class="forgot-overlay" style="display: block;">
            <div class="forgot-parent">
                <div class="forgot-child">
                    <img class="img-responsive" src="../../img/home/top-logo.png" alt="">
                    <div class="forgot-details">
                        <div class="text-center">
                            <p>Forgot Password</p>
                            <p>Enter your email address to reset your password</p>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group dis">
                                        <p>Email*</p>
                                        @ViewBag.message
                                        @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @id = "email", @class = "form-control", @placeholder = "Enter Your Email" } })
                                        @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group dis">
                                        <Button class="form-control">Submit</Button>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div>
                                        <p>Done here? <span>@Html.ActionLink("Login", "login", "appAuth")</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}
        <!-- forgot section ends -->