
@{
    ViewBag.Title = "SearchNote";
    @model IEnumerable<NoteMarketPlace.Models.noteData>
}

<!-- Search Notes -->
<section id="s-notes">
    <div class="search-heading">
        <img src="../../img/home/banner-with-overlay.jpg" class="search-img img-responsive" alt="">
        <div class="centered">Search Notes</div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 s-title">
                <p>Search and Filter notes</p>
            </div>
        </div>
        <div class="note-filter">
            <div class="row">
                <div class="col-md-12 col-sm-4 col-xs-12">
                    <input id="search-note-input" type="search" placeholder="&#xf002  Search notes here...">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <select name="cars" id="cars">
                        <option value=""> Select type </option>

                    </select>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <select name="cars" id="cars">
                        <option value=""> Select category </option>

                    </select>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <select name="cars" id="cars">
                        <option value=""> Select university </option>

                    </select>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <select name="cars" id="cars">
                        <option value=""> Select course </option>
                        <
                    </select>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <select name="cars" id="cars">
                        <option value=""> Select country </option>

                    </select>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <select name="cars" id="cars">
                        <option value=""> Select rating </option>

                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="search-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 s-title">
                    <p> Total <span>@ViewBag.Count</span> notes</p>
                </div>
            </div>
            <div class="books">
                <div class="row">

                    @foreach (var n in Model)
                    {
                        <a href="@Url.Action("notedetails","user", new{ id = n.sellerNote.ID})">

                            <div class="col-md-4 col-sm-6 ">
                                <div class="book" onclick="openNav()">
                                    <img class="img-responsive" src="../../img/home/banner.jpg" alt="cover-photo">
                                    <div class="book-detail">
                                        <p id="book-name">@n.sellerNote.Title</p>
                                        <div class="deep-discription">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <i class="fa fa-university"> </i>
                                                </div>
                                                <div class="col-md-10 col-sm-10 col-xs-10">
                                                    @n.sellerNote.UniversityName , @n.Country.Name
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <i class="fa fa-book"> </i>
                                                </div>
                                                <div class="col-md-10 col-sm-10 col-xs-10">
                                                    @n.sellerNote.NumberofPages, Pages
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <i class="fa fa-calendar"> </i>
                                                </div>
                                                <div class="col-md-10 col-sm-10 col-xs-10">
                                                    @n.sellerNote.CreatedDate
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <i class="fa fa-flag"> </i>
                                                </div>
                                                <div class="col-md-10 col-sm-10 col-xs-10">
                                                    Users report about book
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </a>
                    }

                    <div class="text-center" aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="disabled"><a href="#">«</a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Search Notes Ends -->