
@{
    ViewBag.Title = "addCountry";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    @model NoteMarketPlace.Database.tblCountry
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Add Country section -->
    <section class="add-country">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="page-heading">Add Country</p>
                </div>
                <div class="col-md-6 inside-col">
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>Country Name*</p>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @placeholder = "Enter Country name", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            @*<input type="text" class="form-control" id="name" placeholder="Enter Country name">*@
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>Country Code*</p>
                            @Html.EditorFor(model => model.CountryCode, new { htmlAttributes = new { @placeholder = "Enter Country Code", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "text-danger" })
                            @*<input type="text" class="form-control" id="name" placeholder="Enter Country code">*@
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group warn">
                            @if (@ViewBag.Message != null)
                            {
                                <label style="color:#B00020"> @ViewBag.Message</label>
                            }
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-general btn-work  smooth-scroll">SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- add Country Ends -->

}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />