
@{
    ViewBag.Title = "addNoteType";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    @model NoteMarketPlace.Database.tblNoteType
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Add  type section -->
    <section class="add-type">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="page-heading">Add Type</p>
                </div>
                <div class="col-md-6 inside-col">
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>type Name*</p>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter type name" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            @*<input type="text" class="form-control" id="name" placeholder="Enter  type name">*@
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>Description*</p>
                            @Html.TextAreaFor(model => model.Description, new { @id = "text-area", @class = "form-control", placeholder = "Desciption" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            @*<textarea name="" class="form-control" placeholder="Enter your description"></textarea>*@
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group warn">
                            @if (@ViewBag.Message != null)
                            {
                                <label style="color:#B00020"> @ViewBag.Message</label>
                            }
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-general btn-work  smooth-scroll">SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- add  type Ends -->

}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


