@using PagedList
@using PagedList.Mvc
@model IPagedList<NoteMarketPlace.Models.noteData>
}
@{
    ViewBag.Title = "publishedNotes";
    Layout = "~/Views/Shared/_adminLayout.cshtml";

}

<!-- published note -->
<section id="a-published-note">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="page-heading">Dashboard</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="earning">
                    <div class="div-content text-center">
                        <p>@ViewBag.notesForReview</p>
                        <p>Numbers of Notes in Review for Publish</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="earning">
                    <div class="div-content text-center">
                        <p>@ViewBag.downloadNotes7db</p>
                        <p>Numbers of New Notes Downloaded</p>
                        <p>(Last 7 Days)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="earning">
                    <div class="div-content text-center">
                        <p>@ViewBag.newUser7db</p>
                        <p>Numbers of New Registration</p>
                        <p>(Last 7 Days)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <p class="page-heading">Published Note</p>
                <p>Seller</p>
            </div>


            @using (Html.BeginForm("dashboard", "Admin", FormMethod.Get))
            {
                <div class="col-md-4 col-sm-4">
                    <select class="form-control" style=" max-width: 150px; margin-top: -5px">
                        <option>
                            Khyati
                        </option>
                        <option>
                            Raj
                        </option>
                        <option>
                            Rahul
                        </option>
                    </select>
                </div>

                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-8">

                        <input name="search" class="form-control search-input" placeholder="Search..." type="text" value="@ViewBag.search">

                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4" id="search">
                        <input class="btn btn-general btn-work" type="submit" value="Search" />

                    </div>

                </div>
                <div class="col-md-4 col-sm-4">
                    <select name="" id="" class="form-control">
                        <option value="">
                            January
                        </option>
                        <option value="">
                            february
                        </option>
                        <option value="">
                            March
                        </option>
                    </select>
                </div>
            }
            <div class="row">
                <div class="col-md-12">
                    <div class="all-admin-table table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">SR NO.</th>
                                    <th scope="col">NOTE TITLE</th>
                                    <th scope="col">CATEGORY</th>
                                    <th scope="col">SELL TYPE</th>
                                    <th scope="col">PRICE</th>
                                    <th scope="col">SELLER</th>
                                    <th scope="col">PUBLISHED DATE</th>
                                    <th scope="col">NUMBER OF DOWNLOADS</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>

                                @{ int i = ViewBag.pcount - 1;}
                                @foreach (var n in Model)
                                {
                                    i += 1;


                                <tr>
                                    <td style="display:none;">@n.sellerNote.ID</td>
                                    <td>@i</td>

                                    <td class="title">@Html.DisplayFor(modelItem => n.sellerNote.Title)</td>
                                    <td>@Html.DisplayFor(modelItem => n.NoteCategory.Name)</td>

                                    @{

                                        bool isPaid = n.sellerNote.IsPaid;
                                        if (isPaid)
                                        {
                                            <td>Paid</td>
                                        }
                                        else
                                        {
                                            <td>Free</td>
                                        }

                                    }

                                    <td>$@Html.DisplayFor(modelItem => n.sellerNote.SellingPrice)</td>
                                    <td>@string.Concat(n.User.FirstName, " ", n.User.LastName)</td>
                                    <td>@Html.DisplayFor(modelItem => n.sellerNote.PublishedDate)</td>
                                    <td></td>



                                    <td class="dropdown">
                                        <div id="dots" class="mynav-dropdown">
                                            <img class="dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="~/img/Dashboard/dots.png" />
                                            <div class="dropdown-menu action-menu mynav-dropdown-content dropdown-menu-right ">
                                                <button class="text-left dropdown-item nav-dropdown-item" onclick="location.href='/User/downloadBook/@n.sellerNote.ID '">Download Notes</button>
                                                <button class="text-left dropdown-item nav-dropdown-item" onclick="location.href='/User/notedetails/@n.sellerNote.ID '">View More Details</button>
                                                <button class="text-left dropdown-item nav-dropdown-item reject-btn">Unpublish</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center" aria-label="Page navigation example">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                        @Html.PagedListPager(Model, page => Url.Action("dashboard", new { page }))
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div id="reject-popup" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p class="popup-heading">Some text in the Modal..</p>
            <form action="/Admin/Unpublish" method="post">
                <input type="hidden" name="noteId" value="27" />
                <p>Remark<span class="required">*</span></p>
                <textarea placeholder="Write Remark" class="form-control" id="text-area" name="removeRemark" required></textarea>




                <br />
                <div class="text-right">
                    <Button class="btn btn-danger">&nbsp;Remove&nbsp;</Button>

                    <a class="btn btn-default close-btn">&nbsp;Cancel&nbsp;</a>
                </div>
            </form>
        </div>

    </div>



   
</section>



<!-- published notes Ends-->
