
@{
    ViewBag.Title = "manageSysConfig";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    @model NoteMarketPlace.Models.systemConfig
}

<!-- system config -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section id="system-config">
        <form action="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="page-heading">Manage System Configuration</p>
                    </div>
                    <div class="col-md-6 inside-col">
                        <div class="col-md-12">
                            <div class="form-group">
                                <p>Support emails address*</p>
                                @Html.EditorFor(model => model.supportMail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email" } })
                                @Html.ValidationMessageFor(model => model.supportMail, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <p>Support phone number*</p>
                                @Html.EditorFor(model => model.supportPhoneNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email" } })
                                @Html.ValidationMessageFor(model => model.supportPhoneNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <p>Email address(es) (for various events system will send notification to these users)*</p>
                                @Html.EditorFor(model => model.notificationMail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email" } })
                                @Html.ValidationMessageFor(model => model.notificationMail, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <p>Facebook URL*</p>
                                @Html.EditorFor(model => model.facebookURL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email" } })
                                @Html.ValidationMessageFor(model => model.facebookURL, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <p>Twitter URL*</p>
                                @Html.EditorFor(model => model.twitterURL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email" } })
                                @Html.ValidationMessageFor(model => model.twitterURL, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <p>Linkedin URL*</p>
                                @Html.EditorFor(model => model.linkedinURL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email" } })
                                @Html.ValidationMessageFor(model => model.linkedinURL, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <p>Default image for notes (if seller do not upload)</p>
                                
                                <label for="display-note-pic" class="form-control upload-label text-center upload" style="cursor:pointer; height:inherit">
                                    <img src="../img/Dashboard/upload-note.svg" alt="Upload" />
                                    <p>Upload Display picture</p>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <p>Default profile picture (if seller do not upload)</p>
                               
                                <label for="display-profile-pic" class="form-control upload-label text-center upload" style="cursor:pointer; height:inherit">
                                    <img src="../img/Dashboard/upload-note.svg" alt="Upload" />
                                    <p>Upload Display picture</p>
                                </label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <button class="btn btn-work btn-add-note">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
}
<br />

    <!-- system config Ends -->
